*.json
__pycache__/
adjustkeys-bin
glyphinf
bin*/
*.swp
*.c
*.mtl
*.zip
temp/
requirements.txt
*.1.gz
*.1
*.html
.no_adjustkeys_update
version.py
ChangeLog.md
*.pdf
*.xcf
*opts.yml
adjustkeys_addon.py
profile_data.yml
adjust_keys_blender_addon/
adjustedkeys*
tags
types_*.taghl
*.blend
